/* kurdish and arabic fonts */

@font-face {
  font-family: 'rabar';
  src: url('fonts/rabar-normal.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'rabar';
  src: url('fonts/rabar-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'rabar';
  src: url('fonts/rabar-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'rabar';
  src: url('fonts/rabar-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'rabar';
  src: url('fonts/rabar-extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* english font */

@font-face {
  font-family: 'montserrat';
  src: url('fonts/montserrat-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/montserrat-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/montserrat-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/montserrat-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/montserrat-semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/montserrat-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/montserrat-extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
